::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(53, 108, 238);
  border-radius: 1rem;
  border: 0.3rem solid transparent;
  background-clip: content-box;
}
